---
layout: default
title: Home
---

<section class="archive">
{% for post in site.posts %}
{% unless post.next %}

{% unless forloop.first %}</div></div>{% endunless %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_1">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_7">

{% else %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear %}

{% unless forloop.first %}</div></div>{% endunless %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_1">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_7">
{% endif %}
{% endunless %}

  <article class="row gutters">
    <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_7">{{ post.title }}</a>
    <div class="post-date col span_3">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-m-%d" }}</time>
    </div>
  </article>

{% if forloop.last %}</div>
   <div class="posts-by-year col span_3">
	<h3>新浪微博</h3>
	<iframe width="100%" height="130" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=130&fansRow=2&ptype=0&speed=0&skin=9&isTitle=1&noborder=1&isWeibo=0&isFans=0&uid=2094987497&verifier=524a882f&colors=d6f3f7,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
	<h3>文章分类</h3>
	<ul class="listing">
	{% for cat in site.categories %}
  	<li class="listing-seperator" id="{{ cat[0] }}">{{ cat[0] }} ({{ cat[1].size }})</li>
	{% endfor %}
	</ul>	
   </div>
</div>{% endif %}

{% endfor %}
</section>
